<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
<nav>
    <!-- Other navigation items -->
    {% if user.is_authenticated %}
    <p>Logged as {{ user.username }}</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <a href="{% url 'favorites' %}">Favorite</a>
    <a href="{% url 'publish' %}">Publish</a>
    <a href="{% url 'WhatIPublishView' user.id %}">What I Publish</a>
    <a href="{% url 'home' %}">Home</a>
    {% else %}
    <div style="display: flex; justify-content: space-evenly">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'home' %}">Home</a>
    </div>
    {% endif %}
</nav>


<main>
    {% block content %}
    <!-- This is where the content from child templates will be inserted -->
    {% endblock content %}
</main>

<footer>
    <!-- Footer content goes here -->
</footer>
</body>
</html>