<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
<nav>

    <!-- Other navigation items -->
    {% if user.is_authenticated %}
    <div style="display: flex; justify-content: space-evenly">
        <a>Logged as {{ user.username }}</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit"
                    style="background: none!important; border: none; padding: 0!important; color: #069; text-decoration: underline; cursor: pointer;">
                Logout
            </button>
        </form>
        <a href="{% url 'favorites' %}">Favorite</a>
        <a href="{% url 'publish' %}">Publish</a>
        <a href="{% url 'Publications' user.id %}">Publications</a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'article-list' %}">Article</a>

    </div>
    {% else %}
    <div style="display: flex; justify-content: space-evenly">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'article-list' %}">Article</a>
    </div>
    {% endif %}
</nav>


<main>
    {% block content %}
    <!-- This is where the content from child templates will be inserted -->
    {% endblock content %}
</main>

<footer>
    <!-- Footer content goes here -->
</footer>
</body>
</html>